---
import ClientsList from "./ClientsList.astro";
import ContentSection from "./ContentSection.astro";
---

<ContentSection title="Quem já acelerou com a gente" id="clients">
  <Fragment slot="lead">
    Empresas e profissionais que <span class="text-primary">confiaram </span>na gente para contar suas <span class="text-primary">histórias com impacto</span>.
  </Fragment>
  <ClientsList
    title="Clients"
  />
</ContentSection>
