---
import { Icon } from "astro-icon/components";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "#",
    description: "Acompanhe nosso LinkedIn",
    icon: "fa-brands:linkedin",
  },
  {
    url: "#",
    description: "Veja nosso trabalho no youtube",
    icon: "fa-brands:youtube",
  },
  {
    url: "#",
    description: "Acompanhe nosso Instagram",
    icon: "fa-brands:instagram",
  },
];
---

<footer class="relative items-center justify-center bg-text border-t-2 border-x-stone-800">
  <div class="flex items-center justify-center">
    <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-3 mt-8">
      {
        links.map((link) => (
          <li>
            <a
              class="flex size-10 items-center justify-center p-2"
              href={link.url}
            >
              <span class="sr-only">{link.description}</span>
              <Icon class="size-full" name={link.icon} />
            </a>
          </li>
        ))
      }
    </ul>    
  </div>


  <div class="container mx-auto py-6 text-center">
      <p class="text-xs">&copy; 2025 Nitro Produtora. Todos os direitos reservados.</p>
      <p class="text-xs">Criando vídeos com paixão e performance.</p>
  </div>
</footer>
