---
import nitroLogo from '../assets/logo.webp';
import nitroImage from '../assets/feature.webp';
---

<section class="steps">
	<h2>MAS <span class="contrast">COMO?</span></h2>
	<p class="subtitle">Oferecemos uma gama completa de produções audiovisuais para otimizar sua presença online e após análise detalhada do seu negócio, traçaremos juntos, a melhor produção para seus objetivos.</p>
	<section class="content">
		<section class="step" data-aos="zoom-out-right">
			<h3><span class="number">1</span>Criação de Roteiro</h3>
			<p>Vamos entender seu negócio, analisar seus concorrentes e criar seus roteiros com foco na humanização da marca</p>			
		</section>
		<section class="step" data-aos="zoom-out-down" data-aos-delay="250">
			<h3><span class="number">2</span>Produção</h3>
			<p>Vamos até a sua empresa com nossa equipe e equipamentos profissionais para gravar todos os vídeos que farão sua marca acelerar.</p>			
		</section>
		<section class="step" data-aos="zoom-out-left" data-aos-delay="500">
			<h3><span class="number">3</span>Edição</h3>
			<p>Após a gravação, vamos editar todos os vídeos captados com pós produção completa: colorização, tratamento de som, legendagem, letterings animados e, claro, uma incrível vinheta do seu logo para que sua marca fique na memória do seu público</p>			
		</section>
	</section>
</section>

<style>
	.steps {
		min-height: 100vh;
		width: 100%;

		@media only screen and (min-width: 768px) {
			width: 1200px;
			margin: 0 auto;
		}
	}
	h2 {
		font-family: "Bebas Neue", serif;
		font-weight: 400;
		font-style: normal;
		font-size: 56px;
		margin: 48px 0;
		background-color: #380259;
		display: inline;
	}
	.contrast {
		color: #F2C809;
	}
	.content {
		display: flex;
		flex-direction: column;
		gap: 54px;
		margin-top: 36px;

		@media only screen and (min-width: 768px) {
			flex-direction: row;
		}
	}
	.step {
		display: flex;
		align-items: start;
		flex-direction: column;
		flex: 1;
	}
	h3 {
		font-family: "Bebas Neue", serif;
		font-weight: 400;
		font-style: normal;
		color: #F2C809;
		font-size: 32px;
		margin: 0 0 14px 0;
	}
	.number {
		background-color: #F2C809;
		color: #5D298F;
		padding: 8px 20px;
		border-radius: 50%;
		font-size: 26px;
		margin: 0 12px 0 0;

		@media only screen and (min-width: 768px) {
			margin: 0 12px 0 -68px;
		}
	}
	p {
		font-size: 17px;
		line-height: 24px;
		margin: 0;
	}
	.subtitle {
		font-size: 18px;
		margin: 18px 0 78px 0;

		@media only screen and (min-width: 768px) {
			width: 75%;
		}
	}
</style>
