---
import nitroImage from '../assets/feature.webp';
---

<section class="principal">
	<div class="welcome">
		<section>
			<div class="typewriter">
				<h1>VÍDEOS QUE <span class="contrast">POTENCIALIZAM</span></h1>	
				<h2>MARCAS E PESSOAS</h2>		
			</div>

			<p>Somos uma Produtora de vídeos de<br />conteúdo para as redes sociais!</p>
		</section>

		<div class="image">
			<img src={nitroImage.src} alt="Imagem principal Nitro Produtora" />
		</div>
	</div>
</section>

<style>
	.principal {
		display: flex;
		align-items: start;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		width: 100%;

		@media only screen and (max-width: 768px) {
			justify-content: center;
			height: 100vh;
		}

		@media only screen and (min-width: 768px) {
			flex-direction: row;
			width: 1200px;
			height: 100vh;
			margin: 0 auto;
		}
	}
	.welcome {
		display: flex;
		flex-direction: row;
		align-items: center;

		@media only screen and (max-width: 768px) {
			flex-direction: column;
		}
	}

	h1, h2 {
		font-family: "Bebas Neue", serif;
		font-weight: 400;
		font-style: normal;
		font-size: 56px;
		margin: 0 24px 0 0;
		border-right: 8px solid #F2C809;

		@media only screen and (max-width: 768px) {
			font-size: 38px;
		}
	}

	.contrast {
		color: #F2C809;
	}

	.image img{
		width: 90%;

		@media only screen and (min-width: 768px) {
			width: 600px;
			margin-top: 60px;
		}
	}

	p {
		font-size: 20px;
		line-height: 28px;
		margin-top: 0;
	}

	.typewriter h1 {
		overflow: hidden;
		white-space: nowrap;
		margin: 0 auto; 
		letter-spacing: .02em; 
		animation: 
			typing 2.5s steps(30, end),
			remove-border 0.5s forwards 2.5s;
	}

	.typewriter h2 {
		overflow: hidden;
		white-space: nowrap;
		margin: 0 auto; 
		letter-spacing: .02em; 
		visibility: hidden; 
		animation: 
			typing 2.5s steps(30, end) 2.5s forwards, 
			remove-border 0.5s forwards 5s;
	}


	@keyframes remove-border {
   		to { border-right: 8px solid transparent; }
	}

	@keyframes typing {
		from { width: 0; visibility: visible; } 
		to { width: 100%; visibility: visible; }
	}

	@keyframes blink-caret {
		from, to { border-color: transparent; }
		50% { border-color: #F2C809; }
	}
</style>
