---
import wedoPhoto from '../assets/wedo.webp';
const backgroundUrl = `url(${wedoPhoto.src})`;
---

<section class="container">
    <div class="content">
        <h3>Entre em contato! Estamos aqui para ajudar :)</h3>
        <h4>Solicite um orçamento</h4>        
    </div>
</section>

<style define:vars={{ backgroundUrl }}>
	.container {
		display: flex;
		align-items: start;
		flex-direction: row;
		height: 400px;
		position: relative;
        align-items: center;
        margin-bottom: 80px;
        background-image: var(--backgroundUrl);
		background-position: bottom right;
		background-size: 100%;
		background-repeat: no-repeat;
	}

    .content {
        opacity: 1;
		@media only screen and (min-width: 768px) {
			width: 1200px;
			margin: 0 auto;
		}
	}
	h3 {
		font-family: "Bebas Neue", serif;
		font-weight: 400;
		font-style: normal;
		color: #F2C809;
		font-size: 32px;
		margin: 0;
	}
    h4 {
		font-family: "Bebas Neue", serif;
		font-weight: 400;
		font-style: normal;
		font-size: 56px;
		display: inline;
	}
</style>
